<!--
 The Pedestal application development tools provide a very simple
 system for composing documents. This partial will be included
 "within" the application.html file. The div with id "content" in that
 file will be replaced with the div with id "content" in this file.

 This feature is only part of the tool. It has nothing to do with the
 ClojureScript application that you are building.
-->
<_within file="application.html">
  
  <div id="content">
    
    <div template="hello" field="id:id">            
    </div>

    <div template="task" field="id:id">
      <div field="content:details"></div>
    </div>

  </div>

</_within>
